{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-mlobjectindexpage{% endblock %}

{% block content %}
    <p><a href="{{ page.get_parent.url }}">Вернутся к {{ page.get_parent.title }}</a> </p>
    <h1> {{ page.titile }}</h1>

    <div class="intro">{{ page.intro }}</div>
    <div>
        <div class="row">
        {% for obj in ml_objects %}
            {% with obj=obj.specific %}
                <div class="col-sm-3">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header"><a href="{% pageurl obj %}">{{ obj.title }}</a></div>
                        <div class="card-body">
                            <h7 class="card-title text-success">Параметры в норме</h7>
                            <p class="card-text">{{ obj.intro }}</p>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
        </div>
                {% comment %}
                <h4><a href="{% pageurl obj %}">{{ obj.title }}</a> </h4>
                {% with obj.main_image as main_image %}
                    {% if main_image %}
                        {% image main_image fill-160x100 %}
                    {% endif %}
                {% endwith %}
                <p>{{ obj.intro }}</p>
                {% endcomment %}
    </div>
{% endblock %}