{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags ml_obj_tags %}

{% block body_class %}template-mlobjectindexpage{% endblock %}

{% block content %}
    <p><a href="{{ page.get_parent.url }}">Вернутся к {{ page.get_parent.title }}</a> </p>

    <div class="intro">{{ page.intro }}</div>
    <div>
    {% for obj in ml_objects %}
        <!--<div class="row">-->
        {% with obj=obj.specific %}
            <div class="col-sm-offset-12">
                <div class="alert border-{{ obj.ml_obj_border }} mb-6" role="alert">
                    <h6 class="alert-heading"><a href="{% pageurl obj %}">{{ obj.title }}</a></h6>
                    <p>{{ obj.intro }}</p>
                    <hr>
                    <!-- Automatic tags -->
                    {% if obj.auto_tags.all.count %}
                        <div class="tags">
                        {% for tag in obj.auto_tags.all %}
                            <a href="{% slugurl 'tags' %}?tag={{ tag }}&id={{ obj.id }}">
                                <button type="button" class="btn alert-{% ml_obj_tag_border tag %} border-{% ml_obj_tag_border tag %}" data-toggle="tooltip" data-placement="top" title="{% ml_obj_tag_tooltip tag %}">{{ tag }}</button>
                            </a>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endwith %}
    {% endfor %}
    </div>


                {% comment %}
                <h4><a href="{% pageurl obj %}">{{ obj.title }}</a> </h4>
                {% with obj.main_image as main_image %}
                    {% if main_image %}
                        {% image main_image fill-160x100 %}
                    {% endif %}
                {% endwith %}
                <p>{{ obj.intro }}</p>
                {% endcomment %}
    </div>
{% endblock %}