{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}template-mlobjectpage{% endblock %}


{% block content %}
    <p><a href="{{ page.get_parent.url }}">Вернутся к {{ page.get_parent.title }}</a> </p>
    <div class="alert border-success mb-4" role="alert">
        <h5> {{ page.title }}</h5>
        <!-- Manual tags -->
        {% if page.tags.all.count %}
            <div class="tags">
                <h6>метки:</h6>
                {% for tag in page.tags.all %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                        <button class="alert border-success" type="button">{{ tag }}</button>
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Automatic tags -->
        {% if page.auto_tags.all.count %}
            <div class="tags">
                <h6>состояние:</h6>
                {% for tag in page.auto_tags.all %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                        <button class="alert border-success" type="button">{{ tag }}</button>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        <p class="meta">{{ page.start_date }}</p>

        <div class="intro">{{ page.intro }}</div>

        {{ page.description|richtext }}
    </div>
    <div>
    {% for obj in page.get_children %}
        <div class="alert border-success mb-4" role="alert">
        <h6><a href="{% pageurl obj %}">{{ obj.title }}</a> </h6>
        {{ obj.specific.intro }}
        </div>
    {% endfor %}
    </div>

    <div class="alert border-success mb-4" role="alert">
        <div class="row">
        {% for item in page.gallery_images.all %}
            <!--<div style="float: left; margin: 10px">-->
            <div class="rounded mx-auto d-block">
                {% image item.image fill-320x240 %}
                <p> {{ item.caption }}</p>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}