{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-mlobjectpage{% endblock %}

{% block content %}
    <p><a href="{{ page.get_parent.url }}">Вернутся к {{ page.get_parent.title }}</a> </p>
    <h1> {{ page.title }}</h1>
    {% if page.tags.all.count %}
        <div class="tags">
            <h3>Tags</h3>
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                    <button type="button">{{ tag }}</button>
                </a>
            {% endfor %}
        </div>
    {% endif %}
    <p class="meta">{{ page.buy_date }}</p>

    <div class="intro">{{ page.intro }}</div>

    {{ page.description|richtext }}

     <div>
    {% for obj in page.get_children %}
        <h4><a href="{% pageurl obj %}">{{ obj.title }}</a> </h4>
        {{ obj.specific.intro }}
    {% endfor %}
    </div>


    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p> {{ item.caption }}</p>
        </div>
    {% endfor %}
{% endblock %}