{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags ml_obj_tags %}


{% block body_class %}template-mlobjectpage{% endblock %}


{% block content %}
    <p><a href="{{ page.get_parent.url }}">Вернутся к {{ page.get_parent.title }}</a> </p>
    <div class="alert border-{{ page.ml_obj_border }} mb-4" role="alert">
        <h5> {{ page.title }}</h5>
        <!-- Manual tags -->
        {% if page.tags.all.count %}
            <div class="tags">
                <h6>метки:</h6>
                {% for tag in page.tags.all %}

                    {% comment %}
                    {% with ""|add:tag|add:"&id"|add:page.id|add:"/" as my_tag %}
                        {% include my_tag %}
                    {% endwith %}
                    {% endcomment %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}&id={{ page.id }}">
                        <button class="alert border-success" type="button" data-toggle="tooltip" data-placement="top" title="{% ml_obj_tag_tooltip tag %}">{{ tag }}</button>
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        <form id="btn_status" action="." method="post">
            {% csrf_token %}
            <button id="btn_status_btn" class="btn btn-primary" type="submit" title="enable">{{ page.btn_status.get_symbol }}</button>
            <input id="btn_status_input" type="hidden" name="func_name" value="btn_status.btn_action">
        </form>
        <form action="." method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit" title="enable">{{ page.btn_status.get_name }}</button>
            <input type="hidden" name="func_name" value="btn_status.btn_action">
        </form>





        <!-- Automatic tags -->
        {% if page.auto_tags.all.count %}
            <div class="tags">
                <h6>состояние:</h6>
                {% for tag in page.auto_tags.all %}
                     <div class="btn-group" role="group">
                        <button id="btnGroup{{ tag.name }}" type="button" class="btn alert-{% ml_obj_tag_border tag %} border-{% ml_obj_tag_border tag %} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{% ml_obj_tag_tooltip tag %}">
                            {{ tag.name }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroup{{ tag.name }}">
                            {% comment %}
                            <a class="dropdown-item" href="{% slugurl 'tags' %}?tag={{ tag }}&id={{ page.id }}">
                                <button class="alert alert-{% ml_obj_tag_border tag %} border-{% ml_obj_tag_border tag %}" type="button" data-toggle="tooltip" data-placement="top" title="{% ml_obj_tag_tooltip tag %}">{% ml_obj_tag_tooltip tag %} ({{ tag }})</button>
                            </a>
                            {% endcomment %}

                            <a class="dropdown-item">
                                <form method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-primary" type="submit" title="enable">Включить</button>
                                    <input type="hidden" name="func_name" value="do_enable">
                                </form>
                            </a>
                            {# <a class="dropdown-item" href="#">Dropdown link</a>  #}
                        </div>
                     </div>
                {% endfor %}
            </div>
        {% endif %}
        <p class="meta">{{ page.start_date }}</p>

        <div class="intro">{{ page.intro }}</div>

        {{ page.description|richtext }}
    </div>
    <div>
    {% for obj in page.get_children %}
        {# alert colors #}
        {% if obj.specific.ml_list_alert_color %}
            <div class="alert {{ obj.specific.ml_list_alert_color }} mb-4" role="alert">
        {% else %}
            <div class="alert border-success mb-4" role="alert">
        {% endif %}
                {# alert #}
                <h6><a href="{% pageurl obj %}">{{ obj.specific.category.title }} / {{ obj.title }}</a> </h6>
                {{ obj.specific.intro }}
                {% ml_obj_get_badges obj.id %}
            </div>
    {% endfor %}
    </div>

    <div class="alert border-success mb-4" role="alert">
        <div class="row">
        {% for item in page.gallery_images.all %}
            <!--<div style="float: left; margin: 10px">-->
            <div class="rounded mx-auto d-block">
                {% image item.image fill-320x240 %}
                <p> {{ item.caption }}</p>
            </div>
        {% endfor %}
        </div>
    </div>

    <script>
        // websocket scripts
        // console.log(window.location)
        var loc = window.location
        var btnStatusForm = $("#btn_status")
        var btnStatusBtn = $("#btn_status_btn")
        var btnStatusInput = $("#btn_status_input")
        var wsStart = 'ws://'
        if (loc.protocol == 'https:') {
            wsStart = 'wss://'
        }
        var endpoint = wsStart + loc.host + loc.pathname + "ws/ml_object/"
        var socket = new WebSocket(endpoint)

        socket.onmessage = function(e){
            console.log("message", e)
        }
        socket.onopen = function(e){
            console.log("open", e)
            console.log(btnStatusForm)
            //btnStatusForm.submit(btn_action_by_websocket(btnStatusForm, event))
            btnStatusForm.submit(function (event) {
                event.preventDefault()
                console.log(btnStatusInput)
                var btnStatusInputName = btnStatusInput[0].name
                var btnStatusInputValue = btnStatusInput[0].value
                var btn_data= {};
                btn_data[btnStatusInputName] = btnStatusInputValue
                //btn_data.push(btnStatusInputName, btnStatusInputValue)
                socket.send(JSON.stringify(btn_data))
                //var btn_symbol = btnStatusBtn[0].innerText
                //console.log(btnStatusInput)
                //console.log(btnStatusInputName)
                //btnStatusBtn[0].innerText = "V"
            })
            var id_data = {
                'id': {{ page.id }}
            }
            socket.send(JSON.stringify(id_data))
        }
        socket.onerror = function(e){
            console.log("error", e)
        }
        socket.onclose = function(e){
            console.log("close", e)
        }
    </script>

{% endblock %}