{% load static wagtailuserbar wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/django_mall.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        {# Global javascript #}
        <script defer src="{% static 'js/fontawesome_all.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/django_mall.js' %}"></script>
        {% wagtailuserbar %}
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <section class="section">
            <div class="container">
                {% if self.get_ancestors|length > 1 %}
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            {% for page in self.get_ancestors %}
                                {% if page.is_root == False %}
                                    <li><a href="{% pageurl page %}">{{ page.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li class=”is-active”><a href="{% pageurl self %}" aria-current="page">{{ self.title }}</a></li>
                        </ul>
                    </nav>
                {% endif %}

                {% block content %}
                    Some content
                {% endblock %}
            </div>
        </section>
    </body>
</html>
